/* global variables to the theme */
:root {
  --background-color: #eeeeee;
  --text-color: #282828;
  --link-color: #0543eb;
}

@font-face {
  font-display: swap;
  font-family: Commit Mono;
  font-style: normal;
  src: url(assets/fonts/commit-mono-latin-400-normal-8366ba2b2088257c4c85508855716c04.woff2);
}

@font-face {
  font-display: swap;
  font-family: Commit Mono;
  font-style: bold;
  src: url(assets/fonts/commit-mono-latin-700-normal-a65a3dd452e5ade813881569eec050b2.woff2);
}

body {
  font-family: "Commit Mono", "MesloLGL Nerd Font", -apple-system;
  background-color: var(--background-color);
  background-image: linear-gradient(#e6e1de 1px, transparent 1px), linear-gradient(90deg, #e6e1de 1px, transparent 1px);
  background-size: 40px 40px;
  color: var(--text-color);
  line-height: 1.2;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: #ffd771;
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid;
}

h2 {
  font-size: 1.1rem;
  color: #FF2898;
  margin-top: 0;
  font-weight: normal;
}

ul {
  margin-top: 0;
}

.profile-card {
  display: flex;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 26px;
  box-shadow: 0.5rem 0.6rem rgba(255, 40, 128, 0.2);
  border: 1px solid;
}

@media (max-width:600px) {
  .profile-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.profile-image {
  width: 15rem;
  height: 20rem;
  margin: 1.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.profile-info {
  align-content: center;
}

.profile-info p {
  text-align: justify;
}

.profile-contact {
  display: flex;
  flex-direction: row;
}

@media (max-width:600px) {
  .profile-contact {
    justify-content: center;
  }
}

.profile-contact p {
  margin: 0;
}

.academic-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid;
}

@media (max-width:600px) {
  .academic-container {
    display: flex;
    flex-direction: column;
  }
}

.academic-card {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0.5rem 0.6rem rgba(50, 205, 50, 0.2);
  border: 1px solid;
}


.academic-card h2 {
  font-size: 1.5rem;
  color: #32CD32;
}

.academic-paper img {
  max-width: 100%;
  height: auto;
}

.academic-paper p {
  margin-top: 0;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  text-align: center;
}

@media (max-width:600px) {
  .academic-paper {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 1rem;
  }
}

.academic-paper-description {
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
}

.academic-experience {
  text-align: justify;
  border-bottom: 1px solid;
}


/*TODO: create .html for each project -> gallary of photos and brief description*/
.non-academic-card {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0.5rem 0.6rem rgba(5, 67, 235, 0.2);
  border: 1px solid;
}

.non-academic-card h2 {
  font-size: 1.5rem;
  color: #0543eb;
}


.non-academic-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 1px solid;
}

.non-academic-image {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.non-academic-image:hover {
  transform: scale(1.04);
}

.non-academic-info {
  display: grid;
  grid-template-rows: 1fr 2rem;
  justify-content: center;
}

.non-academic-info p {
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
  align-self: center;
}
